<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>NGO Anderlecht - Contact</title>
</head>
<body>
<nav class="navbar">


    <a href="/" class="navbar-brand">
        NGO Anderlecht
    </a>

    <a href="/new" class="text-white">
        Nieuw evenement
    </a>

    <a href="/about" class="text-white">
        About
    </a>

    <a href="/contact" class="text-white">
        Contact
    </a>

</nav>
<h1>Contact</h1>

<footer class="text-center mt-5">
    <hr>
    <p>
        © 2026 NGO Anderlecht
    </p>
</footer>
</body>
</html>